body {
    margin: 0;
    overflow-y: hidden;
    background-color: $darkRed;
    font-family: $body-font-family;
    font-size: 1rem;
    color: $lightBlue;

    @supports (mix-blend-mode: multiply) {
        background-image: url('../images/cmd_iconen.png');
        background-blend-mode: multiply;
    }
}

* {
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    box-shadow: 2px 3px 4px 0 #00000020;
    background-color: $red;
    color: $darkBlue;

    > section, form {
        position: relative;
        background-color: $red;
        z-index: 1;
    }

    @media screen and (min-width: 30rem) {
        max-width: 30rem;
    }
}

h1 {
    font-family: $header-font-family;
    font-size: $header-font-size;
    color: $lightBlue;
}

h2 {
    font-family: $header-font-family;
    font-size: $subheader-font-size;
    color: $lightBlue;
}

em {
    background-color: $yellow;
    font-family: $contrast-font-family;
    text-transform: uppercase;
    font-style: normal;
}

::selection {
    background-color: $yellow;
}

.visibility-hidden {
    display: block;
    overflow: hidden;
    height: 0;
}