.btn {
    padding: .5rem 1.5rem;
    font-family: $header-font-family;
    border-radius: 0 0 4px 4px;
}

.-primary {
    @extend .btn;

    border: none;
    box-shadow: $darkBlue 4px 4px 0 0;
    background-color: $red;
    color: $darkBlue;
    text-transform: uppercase;
}

.-secondary {
    @extend .btn;

    border: 1px solid $red;
    background-color: transparent;
}