<section class="progression-bar">
    <span class="progression-bar__pin">return PIN: <em>{{user.pin}}</em></span>
    <span class="return-pin-hint">Save the return PIN on your computer to complete this session later.</span>
</section>