<section class="progression-bar" title="Progression: {{progression}}%">
    <label class="progression-bar__label">Progression</label>
    <progress class="progression-bar__status" value="{{progression}}" max="100"> {{progression}} </progress>
</section>