<ul class="progression-bar">
    <li class="progression-bar__pin">
        <span class="">return PIN: <em>{{user.pin}}</em></span>
    </li>
    <li class="progression-bar__inner">
        <progress class="progression-bar__status" value="{{progression}}" max="100"> {{progression}} </progress>
    </li>
    <li class="visibility-hidden">
        Save the return PIN on your computer to complete this session later.
    </li>
</ul>