<form class='main__inner base-form -PIN' method="POST" action="/survey">
    <label for="PIN">Return PIN
    <p>Fill in your return pin to return to your previous session.</p>
    <input id="PIN" type="text" name="pin" placeholder="AOQ9Z2">
    </label>

    <div class='base-form__bottom-actions '>
        <input class="btn -secondary" type="submit" value="New survey">
        <input class="btn -primary" type="submit" value="Continue survey">
    </div>
</form>