<header class='form-header'>
    <h1>Booting up</h1>
    <h2>Survey</h2>
</header>

<form class="base-form" method="POST" action="/survey/web-lectures">
    <input type="hidden" name="progressionTracker" value="{{userString}}">

    <label class="base-form__label -input">
        What is your <em>username</em>?
        <input class="base-form__input" type="text" name="username" placeholder="Kroko Dino">
    </label>

    <fieldset class="base-form__fieldset">
        <legend class="base-form__legend">Select your <em>gender</em></legend>

        <input id="gender_radio_1" class="base-form__input -radio" type="radio" name="gender" value="Male">
        <label for="gender_radio_1" class="base-form__label radio-label">Male</label>

        <input id="gender_radio_2" class="base-form__input -radio" type="radio" name="gender" value="Female">
        <label for="gender_radio_2" class="base-form__label radio-label">Female</label>

        <input id="gender_radio_3" class="base-form__input -radio" type="radio" name="gender" value="Vacuum-cleaner">
        <label for="gender_radio_3" class="base-form__label radio-label">Vacuüm cleaner</label>
    </fieldset>

    <label class="base-form__label -input">
        What is your <em>age</em>?
        <input class="base-form__input -number" type="text" name="age" inputmode="numeric" placeholder="21">
    </label>

    <label class="base-form__label -input">
        Which <em>major</em> program are you following?
        <input class="base-form__input" type="text" name="program" placeholder="Communications & Multimedia design">
    </label>

    <div class='base-form__submit'>
        <input class="btn -secondary" type="submit" value="Previous">
        <input class="btn -primary" type="submit" value="Next step">
    </div>
</form>

{{> _progression-bar}}