i want to be anonymous
YOLO, my name is []

<header class='form-header'>
    <h1>Hi,</h1>
    <h2>Please introduce yourself.</h2>
</header>

<form class="base-form" method="POST", action="/survey/booting-up">
    <input type="hidden" name="progressionTracker" value="{{userString}}">

    <fieldset class="base-form__fieldset">
        <legend class="base-form__legend">Mute <em>OR</em> Mic?</legend>

        <input id="mute/mic_radio_1" class="base-form__input -radio" type="radio" name="survey-mic-mute" value="COD Warzone">
        <label for="mute/mic_radio_1" class="base-form__label radio-label">Mute</label>

        <input id="mute/mic_radio_2" class="base-form__input -radio" type="radio" name="survey-mic-mute" value="Clash of Clans">
        <label for="mute/mic_radio_2" class="base-form__label radio-label">Mic</label>
    </fieldset>

    <fieldset class="base-form__fieldset">
        <legend class="base-form__legend">Which game are you playing <em>during</em> the web lectures?</legend>

        <input id="games_radio_1" class="base-form__input -radio" type="radio" name="survey-game" value="COD Warzone">
        <label for="games_radio_1" class="base-form__label radio-label">COD Warzone</label>

        <input id="games_radio_2" class="base-form__input -radio" type="radio" name="survey-game" value="Clash of Clans">
        <label for="games_radio_2" class="base-form__label radio-label">Clash of Clans</label>
    </fieldset>

    <div class='base-form__submit '>
        {{!-- <input class="btn -secondary" type="submit" value="Previous"> --}}
        <input class="btn -primary" type="submit" value="Next step">
    </div>
</form>

{{> _progression-bar}}