<header class='form-header'>
    <h1>Results</h1>
    <h2>Survey</h2>
</header>

<section class="results">
    <ol class="results__list">
        <li class="results__list__page">
            <h3 class="results__list__page">Booting up</h1>
            [form data]
        </li>
        <li>
            <h3 class="results__list__page">Web lectures</h1>
            [form data]
        </li>
    </ol>
</section>