<section class="resume-life">
    <h1 class="resume-life__header">Nice!</h1>
    <p class="resume-life__inner">
        You have completed our brilliantly progressive enhanced survey.
        <em>You may resume life now.</em>
    </p>

    <small class="message">PS: You might experience new targeted ads based on your answers. We apologize beforehand.</small>

    <a class="btn -primary" href="https://www.netflix.com/">Resume life</a>
</section>
