<form>
    <fieldset>
        <legend>Webcolleges</legend>

        <label>
            Welk spel speel je tijdens de webcolleges?
            <input type="radio" name="survey-game">

        </label>

         <label>
            Welk spel speel je tijdens de webcolleges?
            <input type="radio" name="survey-game">
        </label>

        <div class='base-form__bottom-actions '>
            <input class="btn -secondary" type="submit" value="Previous">
            <input class="btn -primary" type="submit" value="Next step">
        </div>
    </fieldset>
</form>

{{pin}}