.resume-life {
    padding: 3rem 8%;
}

.resume-life__header {
    color: $darkBlue;
}

.resume-life__inner {
    margin-bottom: 4rem;
    font-size: $subheader-font-size;
}

.message {
    display: block;
    margin: 2rem 0;
    font-size: .8rem;
}