<header class='form-header'>
    <h1>Return PIN</h1>
    <h2>Restore your session</h2>
</header>

<form class="base-form" method="POST", action="/survey/?page=1">
    <header class="-enlarge">
        <h3>Complete this survey at any time.</h3>
        <p>Just save <em>{{user.pin}}</em> to complete your survey at a later date.</p>
    </header>

    <input type="hidden" name="progressionTracker" value="{{userString}}">

    <div class='base-form__submit '>
        <a class="btn -secondary" href="/">Nope</a>
        <input class="btn -primary" type="submit" value="Gotcha">
    </div>
</form>